body{
    background:  rgb(26, 130, 65);
  
}

#container{    
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: "lthd header rthd"
                        "lfct content rtct"
                        "ltfr footer rftr";

} 




#name{
    grid-area: header;
    color:#b0ca68;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #cdec77,
    0 0 82px #cdec77,
    0 0 92px #cdec77,
    0 0 102px #cdec77,
    0 0 151px #cdec77;
    font-family: 'Gill Sans Extrabold', sans-serif;
    font-size: 390%;
    text-align: center;
   
}

h1 {
    font-size: 6.2rem;
    animation: pulsate 0.15s ease-in-out infinite alternate; 
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #cdec77,
            0 0 0.8rem #cdec77,
            0 0 2.8rem #cdec77,
            inset 0 0 1.3rem #cdec77;    
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cdec77,
        0 0 80px #cdec77,
        0 0 90px #cdec77,
        0 0 100px #cdec77,
        0 0 150px #cdec77;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #cdec77,
      0 0 73px #cdec77,
      0 0 80px #cdec77,
      0 0 94px #cdec77,
      0 0 140px #cdec77;
  
  }
}



#logo{
    grid-area: content;
    justify-self: center;
}

.fly-area{
    grid-area: content;
    justify-self: center;

}

.fly-img{
    animation: fly 17s linear infinite;
    top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	pointer-events: none;
    width: 600;
    height: 300;
}

@keyframes fly {
    0% {

		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;
	}

	12.5% {
		transform: translate(120vw,-120%) rotateZ(20deg);opacity: 1;
	}

	25% {
		transform: translate(-200%,50vh) scale(1.75) rotateZ(-20deg);opacity: 1;
	}

	37.5% {
		transform: translate(-200%,-120%) rotateZ(-40deg);opacity: 1;
	}

	50% {
		transform: translate(100vw,50vh) rotateZ(0deg);opacity: 1;
	}

	62.5% {
		transform: translate(20vw,100vh) rotateZ(20deg);opacity: 1;
	}
	75% {
		transform: translate(200%,100vh) rotateZ(20deg);opacity: 1;
	}
	87.5% {
		transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);opacity: 1;
	}

	100% {
		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;
	}
}



#start{
    grid-area: footer;
    justify-self: center;
    
}

.float-area{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .floating-img{
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
    width: 325;
    height: 150;
  }
  
  
  
  @keyframes floater {
    0%{transform: translateY(-10%);transition: ease 0.5s;}
    50%{transform: translateY(10%);transition: ease 0.5s;}
  }
  
.btn{
    background-color: rgb(26, 130, 65);
    cursor: pointer;
    touch-action: manipulation;
    border-radius: 2.5px;
    border: 0px;
}



